{
	"identityProperties" : {
		// "idle" : { // a state of bodyState
		// 	"personalityIdle" : { // the key of any identity value
		// 		"idle.2" : { "properties" : { // the value of above identity key, contents are merged with the bodyState.idle anim state
		// 			// an example for making the head be offset to the side 1 pixel
		// 			// in idle.2 when not using the bodyconfig values
		// 			// can be used on any transformGroup

		// 			"headOffset":{"translate" : [0.125, 0]},
		// 		}}
		// 	}
		// }
	}
}
