{
	"personalityIdle" : {
		"idle.2" : {
			// "animatedParts":{"stateTypes":{"bodyState":{"states":{"idle":{"properties":{
			// 	// an example for making the head be offset to the side 1 pixel
			// 	// in idle.2 when not using the bodyconfig values
			// 	// can be used on any transformGroup

			// 	"headOffset":{"translate" : [0.125, 0]},
			// }}}}}}
		}
	}
}
