{
	"sword" : "blade",
	"swordfullbright" : "bladefullbright",
	"swordFullbright" : "bladefullbright",
	"bladeFullbright" : "bladefullbright",
	"weaponfullbright" : "bladefullbright",
	"weaponFullbright" : "bladefullbright",
	"bow" : "blade",
	"bowFullbright" : "bladefullbright",
	"bowfullbright" : "bladefullbright",
	"chakram" : "blade",
	"boomerang" : "blade",
	"gun" : "blade",
	"gunfullbright" : "bladefullbright",
	"gunFullbright" : "bladefullbright",
	"weapon" : "blade",
	"staff" : "blade",
	"wand" : "blade",
	"stone" : "handle",
	"chargeeffect" : "chargeEffect",
	"rope" : "blade",
	"blueprint" : "blade",
	"shield" : "blade",
	"transponder" : "blade",
	"brush" : "blade",
	"broom" : "blade"

}
