{
	"merge" : ["/humanoid/speciesAnimOverride.config"],
	"partImages" : {
		"tail" : "/items/armors/biome/tar/woolly/back.png"
	},
	"globalTagDefaults":{
		"tailMask" : "/items/armors/biome/tar/woolly/back.png"
	},
	"partTagDefaults":{
		"tail" : { "bodyDirectives" : "?replace=ffca8a=ccae7c;e0975c=a47844;a85636=754c23;6f2919=472b13" }
	},

	"animations" : {
		"idle" : {
			"tail" : "idle"
		},
		"sit" : {
			"tail" : "sit"
		},
		"lay" : {
			"tail" : "lay"
		},
		"duck" : {
			"tail" : "duck"
		},
		"walk" : {
			"tail" : "walk"
		},
		"run" : {
			"tail" : "run"
		},
		"jump" : {
			"tail" : "jump"
		},
		"fall" : {
			"tail" : "fall"
		},
		"swim" : {
			"tail" : "swim"
		},
		"swimIdle" : {
			"tail" : "swimidle"
		}
	}
}
