{
	"bodyType" : "humanoid",
	"partImages" : {
		"body" : "/humanoid/<species>/<gender>body.png",
		"frontlegs" : "/humanoid/<species>/<gender>body.png",
		"frontarms" : "/humanoid/<species>/frontarm.png",
		"backarms" : "/humanoid/<species>/backarm.png",
		"frontarms_rotation" : "/humanoid/<species>/frontarm.png",
		"backarms_rotation" : "/humanoid/<species>/backarm.png",
		"head" : "/humanoid/<species>/<gender>head.png",
		"emote" : "/humanoid/<species>/emote.png",
		"hair" : "/humanoid/<species>/<hairGroup>/<hair>.png",
		"hair_fg" : "/humanoid/<species>/<hairGroup>/<hair>.png",
		"facialHair" : "/humanoid/<species>/<facialHairGroup>/<facialHair>.png",
		"facialMask" : "/humanoid/<species>/<facialMaskGroup>/<facialMask>.png"
	},
	"globalTagDefaults":{
		"frontlegsMask1" : "/humanoid/animOverrideMasks/plantigrade/malebody.png",
		"hairFGMask" : "/humanoid/<species>/<gender>head.png"
	},
	"scripts" : [],
	"animations" : {
		"idle" : { "offset" : { "parts" : [] }},
		"sit" : {},
		"lay" : {},
		"duck" : {},
		"walk" : {},
		"run" : {},
		"jump" : {},
		"fall" : {},
		"swim" : {},
		"swimIdle" : {}
	},
	"randomIdle" : {}

}
