{
	"bodyType" : "humanoid",
	"partImages" : {
		"body" : "/humanoid/<species>/<gender>body.png",
		"frontarms" : "/humanoid/<species>/frontarm.png",
		"backarms" : "/humanoid/<species>/backarm.png",
		"frontarms_rotation" : "/humanoid/<species>/frontarm.png",
		"backarms_rotation" : "/humanoid/<species>/backarm.png",
		"head" : "/humanoid/<species>/<gender>head.png",
		"emote" : "/humanoid/<species>/emote.png"
	},
	"globalOffset" : [0,0.5],
	"globalTagDefaults":{
	},

	"animations" : {
		"idle" : {
			"body" : "idle",
			"arms" : "idle",
			"legs" : "idle",
			"hitbox" : [ [-0.75, -2.0], [-0.35, -2.5], [0.35, -2.5], [0.75, -2.0], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65] ],
			"offset" : {},
			"rotate" : {}
		},
		"sit" : {
			"body" : "sit",
			"arms" : "sit",
			"legs" : "sit",
			"offset" : {
				"parts" : [
					//{ "x": [-1], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"lay" : {
			"body" : "lay",
			"arms" : "lay",
			"legs" : "lay",
			"offset" : {
			},
			"rotate" : {
				"parts" : [
					{ "rotation" : [90], "groups": ["globalRotation"]}
				]
			}
		},
		"duck" : {
			"body" : "duck",
			"arms" : "duck",
			"legs" : "duck",
			"hitbox" : [ [-0.75, -2.0], [-0.35, -2.5], [0.35, -2.5], [0.75, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1] ],
			"offset" : {
				"parts" : [
					{ "y": [-8], "groups": ["headbob", "armsbob"]},
					{ "x" : [-1], "y": [-4], "groups": ["tailbob"]}
				]
			},
			"rotate" : {}

		},
		"walk" : {
			"body" : "walk",
			"arms" : "walk",
			"tail" : "walk",
			"legs" : "walk",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {
				"loop" : true,
				"parts" : [
					{ "y": [-1, -1, 0, 0, -1, -1, 0, 0], "groups": ["headbob", "armsbob", "tailbob", "bellybob"]}
				]
			},
			"rotate" : {}
		},
		"run" : {
			"body" : "run",
			"arms" : "run",
			"tail" : "run",
			"legs" : "run",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {
				"loop" : true,
				"parts" : [
					{ "x": [1], "y": [-1, 0, -1, -2, -1, 0, -1, -2], "groups": ["headbob", "armsbob", "tailbob", "bellybob"]}
				]
			},
			"rotate" : {}
		},
		"jump" : {
			"body" : "jump",
			"arms" : "jump",
			"tail" : "jump",
			"legs" : "jump",
			"belly" : "jump",
			"cock" : "jump",
			"offset" : {
				"parts" : [
					{ "y": [1], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"fall" : {
			"body" : "fall",
			"arms" : "fall",
			"tail" : "fall",
			"legs" : "fall",
			"belly" : "fall",
			"cock" : "fall",
			"offset" : {},
			"rotate" : {}
		},
		"swim" : {
			"body" : "swim",
			"arms" : "swim",
			"tail" : "swim",
			"legs" : "swim",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {
				"parts" : [
					{ "x": [1], "y": [0, -1, -2, -1, 0, 0, 0], "groups": ["headbob", "armsbob", "bellybob"]}
				]
			},
			"rotate" : {}
		},
		"swimIdle" : {
			"body" : "swimidle",
			"arms" : "swimidle",
			"tail" : "swimidle",
			"legs" : "swimidle",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {},
			"rotate" : {}
		}
	},
	"randomIdle" : {

	}

}
