{
	"merge"	: ["/humanoid/speciesAnimOverrideBasicParts.config"],
	"partImages" : {},
	"globalTagDefaults":{},
	"scripts" : [],
	"personalityOffsets" : {
		"bodyGroups" : ["headbob"],
		"armGroups" : ["armsbob"],
		"bodyOffsets" : {
			"2" : [{"x":[1], "groups":["bellybob", "crotchbob"]},{"y":[1], "groups":["breastsbob"]}],
			"4" : [{"x":[1], "groups":["bellybob", "crotchbob"]},{"y":[1], "groups":["breastsbob"]}],
			"3" : [{"x":[-1], "groups":["bellybob", "breastsbob"]}]
		}
	},
	"animations" : {
		"idle" : {
			"state" : "stand",
			"body" : "idle",
			"arms" : "idle",
			"legs" : "idle",
			"offset" : { "parts" : [] },
			"rotate" : {}
		},
		"sit" : {
			"state" : "stand",
			"body" : "sit",
			"arms" : "sit",
			"legs" : "sit",
			"offset" : {
				"parts" : [
					{ "y": [-1], "groups": ["headbob", "chestbob", "bellybob"]}
				]
			},
			"rotate" : {}
		},
		"lay" : {
			"state" : "stand",
			"body" : "lay",
			"arms" : "lay",
			"legs" : "lay",
			"offset" : {
				"parts" : [
					{ "y": [-1], "groups": ["headbob"]}
				]
			},
			"rotate" : {
				"parts" : [
					{ "rotation" : [90], "groups": ["globalRotation"]}
				]
			}
		},
		"duck" : {
			"state" : "stand",
			"body" : "duck",
			"arms" : "duck",
			"legs" : "duck",
			"offset" : {
				"parts" : [
					{ "y": [-8], "groups": ["rotationarmsbob"]},
					{ "x" : [1], "y": [-8], "groups": ["headbob"]},
					{ "x" : [-2], "y": [-7], "groups": ["bellybob"]},
					{ "x" : [-2], "y": [-6], "groups": ["crotchbob"]},
					{ "y": [-7], "groups": ["breastsbob"]}
				]
			},
			"rotate" : {}

		},
		"walk" : {
			"state" : "stand",
			"body" : "walk",
			"arms" : "walk",
			"legs" : "walk",
			"offset" : {
				"reversible" : true,
				"loop" : true,
				"parts" : [
					{ "y": [-1, -2, -1, 0, -1, -2, -1, 0], "groups": ["headbob", "chestbob", "bellybob", "crotchbob"]}
				]
			},
			"rotate" : {}
		},
		"run" : {
			"state" : "stand",
			"body" : "run",
			"arms" : "run",
			"legs" : "run",
			"offset" : {
				"reversible" : true,
				"loop" : true,
				"parts" : [
					{ "x": [1], "y": [0, 1, 0, -1, 0, 1, 0, -1], "groups": ["headbob"]},
					{ "y": [0, 1, 0, -1, 0, 1, 0, -1], "groups": ["chestbob", "bellybob", "crotchbob"]},
					{ "x": [1], "groups": ["rotationarmsbob"]}
				]
			},
			"rotate" : {}
		},
		"jump" : {
			"state" : "stand",
			"body" : "jump",
			"arms" : "jump",
			"legs" : "jump",
			"offset" : {
				"parts" : [
					{ "y": [1], "groups": ["headbob", "chestbob", "bellybob", "crotchbob"]}
				]
			},
			"rotate" : {}
		},
		"fall" : {
			"state" : "stand",
			"body" : "fall",
			"arms" : "fall",
			"legs" : "fall",
			"offset" : {
				"parts" : [
					{ "y": [1], "groups": ["headbob", "chestbob", "bellybob", "crotchbob"]}
				]
			},
			"rotate" : {}
		},
		"swim" : {
			"state" : "stand",
			"body" : "swim",
			"arms" : "swim",
			"legs" : "swim",
			"offset" : {
				"parts" : [
					{ "x": [1], "y": [0, -1, -2, -1, 0, 0, 0], "groups": ["headbob"]},
					{ "y": [0, -1, -2, -1, 0, 0, 0], "groups": ["chestbob"]},
					{ "x": [-1], "y": [0, -1, -2, -1, 0, 0, 0], "groups": ["bellybob"]},
					{ "x": [-1], "y": [1, 0, -1, 0, 1, 1, 1], "groups": ["crotchbob"]}
				]
			},
			"rotate" : {}
		},
		"swimIdle" : {
			"state" : "stand",
			"body" : "swimidle",
			"arms" : "swimidle",
			"legs" : "swimidle",
			"offset" : {
				"parts" : [
					{ "x": [-1], "groups": ["bellybob"]},
					{ "x": [-1], "y": [1], "groups": ["crotchbob"]}
				]
			},
			"rotate" : {}
		}
	},
	"randomIdle" : {

	}

}
